@model LinguaMeet.Domain.ViewModels.ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
}



<div class="d-flex justify-content-center align-items-center " style="background: #e8f1ff;">
    <div class="card shadow p-4" style="width: 100%; max-width: 500px; background: #BABBB1;">
        
        <h2 class="text-center mb-4 fw-bold text-primary">ResetPassword</h2>

        <form asp-action="ResetPassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            
           
            <!-- Email -->
            <div class="mb-3">
                <label asp-for="EmailAdresse" class="form-label fw-semibold">E‑Mail‑Adresse</label>
                <input asp-for="EmailAdresse" class="form-control" placeholder="z. B. name@mail.com" />
                <span asp-validation-for="EmailAdresse" class="text-danger"></span>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label asp-for="Password" class="form-label fw-semibold">Passwort</label>
                <input asp-for="Password" class="form-control" type="password" placeholder="Passwort eingeben" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label fw-semibold">New Passwort</label>
                <input asp-for="NewPassword" class="form-control" type="password" placeholder="new Passwort eingeben" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary py-2 fw-semibold">Reset</button>
            </div>

            <!-- Login Link -->
            <div class="text-center">
                <a asp-action="Login" class="text-decoration-none text-secondary">
                    Bereits ein Konto? Jetzt einloggen
                </a>
            </div>
        </form>
    </div>
</div>
